<!DOCTYPE html>
<html>
<head>
  <title>Add Event</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 20px;
    }
    h1 {
      text-align: center;
    }
    form {
      max-width: 400px;
      margin: 0 auto;
    }
    label {
      display: block;
      margin-bottom: 5px;
    }
    input[type="text"],
    textarea {
      width: 100%;
      padding: 8px;
      margin-bottom: 15px;
      border-radius: 3px;
      border: 1px solid #ccc;
    }
    input[type="number"] {
      width: 100%;
      padding: 8px;
      margin-bottom: 15px;
      border-radius: 3px;
      border: 1px solid #ccc;
    }
    input[type="submit"] {
      background-color: #3498db;
      color: #fff;
      padding: 10px;
      border: none;
      border-radius: 3px;
      cursor: pointer;
      transition: background-color 0.3s;
    }
    input[type="submit"]:hover {
      background-color: #2980b9;
    }
  </style>
  <script src="/socket.io/socket.io.js"></script>
</head>
<body>
  <h1>Add Event</h1>
  
    <label for="name">Name:</label>
    <input type="text" id="nom" name="name" required>
    
    <label for="place">Place:</label>
    <input type="text" id="place" name="place" required>
    
    <label for="tickets">Tickets:</label>
    <input type="number" id="tickets" name="tickets" required>
    
    <label for="description">Description:</label>
    <textarea id="description" name="description" required></textarea>
    
    <input onclick="addevenement()" type="submit" value="Add Event">
  
    <script>
        const socket=io.connect();
        
        
        socket.on("addition",(data)=>{
        
            s=document.createElement("p")
            s.innerHTML=("<center>"+"this is added"+":"+data.nom+"<br>"+":"+data.place+"<br>"+":"+data.tickets+"<br>"+":"+data.description+ "</center>")
            document.body.appendChild(s)
           
        })
        
        function addevenement(){
            eventadd={
                nom:nom.value,
                place:place.value,
                tickets:tickets.value,
                description:description.value
            }
            console.log("addition"+JSON.stringify(eventadd))
            socket.emit("addition",eventadd)
        }
        </script>

</body>
</html>
