<!DOCTYPE html>
<html>
<head>
  <title>Events</title>
  
  <script src="/socket.io/socket.io.js"></script>
</head>
<body>
  
  <script>
    const socket=io.connect();
    d={}
    socket.emit("affichetableau",d)
    socket.on("affichetableau",(data)=>{
      s=document.createElement("p")
    s.innerHTML=(data)
    document.body.appendChild(s)
});
    
    </script>

  <a href="/event/addEvent">Add Event</a><br>
  <a href="/event/buyEvent">Book for an Event</a>
</body>
</html>
