<html>
  <body>
    <h1>Signin</h1>
    <form onsubmit="signin(); return false;">
      <label for="username">Username:</label>
      <input type="text" id="username" required><br>

      <label for="password">Password:</label>
      <input type="password" id="password" required><br>

      <button type="submit">Signin</button>
    </form>

    <script src="/socket.io/socket.io.js"></script>
    <script>
      const socket = io();

      // Handle signin response
      socket.on("signinResponse", (data) => {
        alert(data.message);

        if (data.user) {
          console.log("Logged In User:", data.user);
        }
      });

      // Function to send signin data to the server
      function signin() {
        const username = document.getElementById("username").value;
        const password = document.getElementById("password").value;

        socket.emit("signin", { username, password });
      }
    </script>
  </body>
</html>